body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f7f1e9;
}

nav {
    background-color: #007bff;
    padding: 15px;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
.container {
    padding: 50px;
}
footer {
    background-color: #007bff;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}